{% extends 'base.html' %}
{% block head %}
<h2>الاسئلة السابقة</h2>
{% endblock %}


{% block content2 %}
<form method="get" action="{% url 'all_questions' %}">
<select name="is_answered" onchange="this.form.submit()">
        <option value="">مجاب؟ </option>
        <option value="True" {% if request.GET.is_answered == "True" %} selected{% endif %}>تم إجابتة
        </option>
        <option value="False" {% if request.GET.is_answered == "False" %} selected{% endif %}>لم يتم
            إجابتة
        </option>
    </select>
</form>




<div class="table-wrapper" dir="rtl" style="text-align: right;">
    <table>
        <thead>
            <tr>
                <th>اسم الطالب</th>
                <th>ايميل الطالب</th>
                <th>الاسئلة</th>
                <th>مجابة؟</th>
            </tr>
        </thead>
        <tbody>
            {% for qu in object_list %}
            <tr> 
                <td> 
                    <a style="color: lightblue;"
                        href="{% url 'answer_question' qu.id %}">
                        {{ qu.user.first_name }}</a>
                </td>

<td> 
                    <a style="color: lightblue;"
                        href="{% url 'answer_question' qu.id %}">
                        {{ qu.user }}</a>
                </td>

                <td>
                    <a style="color: lightblue;"
                        href="{% url 'answer_question' qu.id %}">
                        {{qu.question }}</a>
                </td> 

                <td>                     
                    {% if qu.is_answered == False  %}
                    &#10060;
                    {% else  %} <div class="check"></div>
                    {% endif %}
                   
                 </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>



 {% comment %} <td> 
                    <a href="{% url 'answer_question' qu.id %}">
                        {{ qu.question }}    
                    </a>   
                </td>
               {% endcomment %}

      <ul>
    <div c lass="prev_next">
    <div class="pages">
    {% if page_obj.has_previous %}
      <a class="prev btn btn-info" href="?page={{page_obj.previous_page_number}}">السابق</a>
    {% endif %}
      {% for pg in page_obj.paginator.page_range %}
        {% if page_obj.number == pg %}
          <a href="{{ request.get_full_path }}?&page={{ pg }}"{{ pg }} class="btn btn-default">{{pg}}</a>
        {% else %}
            <a href="{{ request.get_full_path }}?&page={{ pg }}"{{ pg }} class="btn">{{pg}}</a>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
      <a class="next btn btn-info" href="?page={{page_obj.next_page_number}}">التالي</a>
    {% endif %}
      </ul>
    </div>
    </div>
    <span class="clear_both"></span>  
{% endblock content2 %}
