
{% extends 'base.html' %}



{% block head %}
<h2> سؤال جديد</h2>
{% endblock %}

{% block content2 %}
<script src="https://unpkg.com/sweetalert2@7.8.2/dist/sweetalert2.all.js"></script>

<form action="" method="post">{% csrf_token %}
{{ form.as_p }}
<button class="btn btn-success ml-2" type="submit"    onclick="myFunction()" >Save</button>
</form>



<script>
    function myFunction() {
                swal({
                    type: 'success',
                    text: 'تم تسليم السؤال بنجاح'
                }
                )
        }
    </script>
{% endblock content2 %}