{% extends 'base.html' %}
{% block head %}
<h2>السؤال</h2>
{% endblock %}
div cladiv class="check"></div>ss="check"></div>

{% block content2 %}
<h3>السؤال:</h3>
<p>{{ object.question }}</p>

{% if object.image_question %}
<a href="{{ object.image_question.url}}">    

    <span class="image fit">
            <img src="{{ object.image_question.url}}"  href="{{object.image_question.url}}" alt={{ object.image_question }}>    
        </span>
    </a>
{% endif %}


{% if object.is_answered %}
<h2>الإجابة:</h2>    
{% endif %}

{% if object.answer %}
<p>{{ object.answer }}</p>
{% endif %}

{% if object.mr_question_file.all %}
{% for image in object.mr_question_file.all %}
<a href="{{ image.mr_question_file.url}}">    

    <span class="image fit">
            <img src="{{ image.mr_question_file.url}}"  href="{{image.mr_question_file.url}}" alt={{ image.mr_question_file }}>    
        </span>
    </a>
{% endfor %}
{% endif %}

{% endblock content2 %}
