{% extends 'base.html' %}
{% block head %}
<h2>السؤال</h2>
{% endblock %}
div cladiv class="check"></div>ss="check"></div>
{% block content %}
<h3>:السؤال</h3>
<p>{{ object.question }}</p>

{% if object.image_question %}
<a href="{{ object.image_question.url}}">    

    <span class="image fit">
            <img src="{{ object.image_question.url}}"  href="{{object.image_question.url}}" alt={{ object.image_question }}>    
        </span>
    </a>
{% else  %}
{% endif %}


{% if is_answered %}
<h2>الأجابة</h2>
    {% else  %} 
    {% endif %}

{% if object.answer %}
    object.answer
    {% else  %} 
    {% endif %}



{% endblock content %}

