{% extends 'base.html' %}
{% load static %}
{% block head %}
<h2>الاسئلة السابقة</h2>
{% endblock %}


{% block content %}
{% endblock content %}


{% block content2 %}
<a href="{% url 'question_new' %}" class="button primary">  انشاء سؤال جديد  </a>

<div class="table-wrapper" dir="rtl" style="text-align: right;">
    <table>
        <thead>
            <tr>
                <th>الاسئلة</th>
                <th>مجابة؟</th>
            </tr>
        </thead>
        <tbody>
            {% for qu in object_list %}
            <tr> 
                <td> 
                    <a href="{% url 'question_detail' qu.id %}">
                        
                        {{ qu.question }}    
                    </a>   
                </td>

                <td>                     
                    {% if qu.is_answered == False  %}
                    &#10060;
                    {% else  %} <div class="check"></div>
                    {% endif %}
                   
                 </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
                
{% endblock content2 %}
