{% extends 'base.html' %}
{% load staticfiles%}


{% block head %}
<h2>Welcome to Mr. Sayed website</h2>
{% endblock %}




{% block content %}
<section>
<h1 style="font-size: 30px; "> <strong>الأستاذ سيد عبد الحميد </strong></h1>
<p1> مرحبا بك مع
المستر سيد عبد الحميد
النوع الصحيح من التعليم لا يهتم بأي أيديولوجية ، مهما كان الأمر الذي قد يعد به مستقبل مثالية : فهو لا يعتمد على أي نظام ، مهما كان مدروسًا بعناية ، كما أنه ليس وسيلة لتكييف الفرد بطريقة خاصة. فالتعليم بالمعنى الحقيقي يساعد الفرد على أن يكون ناضجًا وحرًا ، وأن يظهر كثيرًا في الحب والصلاح. هذا هو ما يجب أن نهتم به ، وليس تشكيل الطالب وفقًا لبعض الأنماط المثالية . و تمثل أعلى وظيفة في التعليم في تحقيق فرد متكامل قادر على التعلم والتعامل مع الحياة ككل . </p1>




<div class="container">
      <div class="row">
      <div class="col-sm-8">
      <h2 style="font-size: 30px; "> <strong>نبذه عن مستر سيد عبد الحميد </strong></h2>

<div class="column">
المسمي الوظيفي كبير معلمين بمدرسه خديجه يوسف ث بنات (سابقا )
المؤهل:
 </div> 
<div class="column">
۱-بكالوريوس علوم وتربيه جامعه اسيوط
</div>
<div class="column">  
۲- دبلوم خاص في التربيه جامعه اسيوط
 </div>  
      </div>
      <div class="col-sm-4">
      <div class="column">
    <img class="circular--square" src="https://mr-sayedabdelhamed2.s3-us-west-2.amazonaws.com/images/pp.jpg" />
  </div>
  </div>
  </div>
</section>

<hr />

{% endblock %}