{% extends 'base.html' %}
{% load staticfiles %}


{% block head %}
<h2>Welcome to Mr. Sayed website</h2>
{% endblock %}




{% block content %}
<div class="row">

  <h1 style="font-size: 30px; "> <strong>الأستاذ سيد عبد الحميد </strong></h1>
  <p1> مرحبا بك مع
    المستر سيد عبد الحميد
    النوع الصحيح من التعليم لا يهتم بأي أيديولوجية ، مهما كان الأمر الذي قد يعد به مستقبل مثالية :
    فهو لا يعتمد على أي نظام ، مهما كان مدروسًا بعناية ، كما أنه ليس وسيلة لتكييف الفرد بطريقة خاصة.
    فالتعليم بالمعنى الحقيقي يساعد الفرد على أن يكون ناضجًا وحرًا ، وأن يظهر كثيرًا في الحب والصلاح.
    هذا هو ما يجب أن نهتم به ، وليس تشكيل الطالب وفقًا لبعض الأنماط المثالية . و تمثل أعلى وظيفة في
    التعليم في تحقيق فرد متكامل قادر على التعلم والتعامل مع الحياة ككل . </p1>

</div>

<br />
<section>
  <div class="row">
    <div class="col-9 col-12-xsmall">
      <h1 style="font-size: 30px; "> <strong>نبذه عن مستر سيد عبد الحميد </strong></h1>

      المسمي الوظيفي كبير معلمين بمدرسه خديجه يوسف ث بنات (سابقا )
      المؤهل:
      <br>
      ۱-بكالوريوس علوم وتربيه جامعه اسيوط
      <br>
      ۲- دبلوم خاص في التربيه جامعه اسيوط

    </div>
    <div class="col-2 col-12-xsmall">
      <img class="circular--square"
        src="https://mr-sayedabdelhamed2.s3-us-west-2.amazonaws.com/images/pp.jpg" />
    </div>
  </div>
  <hr />
</section>

{% endblock %}