{% extends 'base.html' %}
{% load staticfiles %}


{% block head %}
<h2>مرحبا بك في موقع الأستاذ سيد</h2>
{% endblock %}




{% block content %}

<iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2F100036803929679%2Fvideos%2F368989154337879%2F%3F__cft__[0]%3DAZUTQQ6Xy-zdI7LpI5SKhtaR3_jYIuT4I2I4H9krhStOAW9bN67UmfTFUtdf9CqG7SmwVt2MCRNozmYoNmmeilw_jSXp64-0CX8S1KzoIYr3h89ibvC6WBzegMY6Z8tmxCr6fTwjLa1OXZpyeYBVJMby%26__tn__%3D%252CO%252CP-R&show_text=true&width=734&height=480&appId" width="734" height="480" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media" allowFullScreen="true"></iframe>
{% endblock %}