*.pyc
.idea
/notes.txt
*.log
/db.sqlite3
.coverage
/htmlcov
/.pytest_cache
/.vscode
/env
/my_env
/vr_env
mr-syed/__pycache__/*.pyc
mr-syed/__pycache__/settings.cpython-35.pyc
/media
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
# /homework/migrations
# /classes/migrations
# /exams/migrations
# /home/migrations
# /accounts/migrations
# /lectures/migrations
# /questions/migrations
# /home/migrations