{% extends 'base.html' %}

{% block head %}
<h2>تسجيل الدخول</h2>  
{% endblock %}

{% block content %}
<form method="post">
{% csrf_token %}
{% if form.non_field_errors %}

الرجاء إدخال اسم مستخدم وكلمة مرور صحيحين. 
{% endif %}


<br/>
<br/>

الايميل:
{{form.username}}
<br/>

كلمه السر:
{{form.password}}
<br/>

<button type="submit" class="button primary">  تسجيل الدخول  </button>
&nbsp;&nbsp;&nbsp;&nbsp;
<a  href="{% url 'password_reset' %}"   style="color:rgb(255, 255, 255)" >  نسيت الباسورد؟   </a>

<hr/>
<div style="text-align: center";>
<a href="{% url 'signup' %}" class="button primary">  انشاء حساب جديد  </a>
</div>
</form>
{% endblock content %}