{% extends 'base.html' %}

{% block head %}
<h2>بيانات الدفع للطالب</h2>
{% comment %} <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script> {% endcomment %}

{% endblock%}



{% block content %}

<form action="" method="post">{% csrf_token %}
{{ form.as_p }}
    <button type="submit" class="button primary" style="width:100px;">تم</button>
</form>
<script>
document.getElementById("id_paid_at").type="date";
document.getElementById("id_paid_at").value="{{form.paid_at.value|date:'Y-m-d'}}"
</script>
{% comment %} id_paid_at {% endcomment %}
{% endblock content %}