{% extends 'base.html' %}
{% block head %}
<h2>تغيير بيانات الطالب</h2>
{% endblock %}
{% block content2 %}
<p>اسم الطالب: {{student_user.first_name}} </p>
<p>ايميل الطالب: {{student_user}} </p>
{% if reseted_password %}
الباسورد الجديد للطالب: {{student_user.random_password}}


<br />
<button onclick="myFunction()"    class="button primary"  >
Verify
</button>


<a id="myBtn"   href ="{% url 'student_reset_password' student_user.id %}" class="button primary "  
    style="background-color: blue; font-size: 30px;height: 4rem; line-height: 4rem; width:100%; pointer-events: none">تغيير الباسورد</a>
  <hr />

{% endif %}


<br/>
 <a href="{% url 'admin_student_payment_list_view' student_user.id%}">
                        <button type="button" class="button primary">
                           الدفع للطالب</button>
                    </a>
<form method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="submit" class="button primary" value="تغيير البيانات"
    style="background-color: #4CAF50; font-size: 30px;height: 4rem; line-height: 4rem; width:100%">
</form>


<form method="post" action="{% url 'admin_add_makeup_lecture' student_user.id %}">
{% csrf_token %}

    <select name="lecture_id" dir="rtl" onchange="this.form.submit()">
        <option value="">اختار محاضرة تعويضية</option>

        {% for lecture in lectures %}

        <option value="{{lecture.id}}" {% if lecture_id == lecture.name %} selected{% endif %}>
            {{lecture.name}}
        </option>
        {% endfor %}
    </select>
</form>

{% if makeup_lectures %}
<h3>المحاضرات التعويضية</h3>
<div class="table-responsive table-wrapper">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    <h4>الاسم</h4>
                </th>
                <th scope="col" style="text-align: center;">
                    <h4>مسح</h4>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for lecture in makeup_lectures %}

            <tr>

                <td>
                    
                <div style="color: lightblue;">{{lecture.lecture.name}}</div>

                </td>
                <td style="text-align: center;">
                    <span>
                        <!-- delete_file -->
                        <form method="post" action="{% url 'delete_makeup_lecture' lecture.id  student_user.id %}"
                            style="margin: 0 0 0 0;">
                            {% csrf_token %}
                            <input type="submit" value="&nbsp; مسح &nbsp;" class="btn btn-danger"
                                style="background-color: red;">
                        </form>
                    </span>
                </td>

            </tr>
            {% endfor %}
        </tbody>
        <tfoot>

    </table>
{% endif %}
{% comment %} MAKEUP EXAMS {% endcomment %}
<form method="post" action="{% url 'admin_add_makeup_exam' student_user.id %}">
{% csrf_token %}

    <select name="exam_id" dir="rtl" onchange="this.form.submit()">
        <option value="">اختار امتحان تعويضي</option>

        {% for exam in exams %}

        <option value="{{exam.id}}" {% if exam_id == exam.name %} selected{% endif %}>
            {{exam.name}}
        </option>
        {% endfor %}
    </select>
</form>

{% if makeup_exams %}
<h3>الامتحانات التعويضية</h3>
<div class="table-responsive table-wrapper">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    <h4>الاسم</h4>
                </th>
                <th scope="col" style="text-align: center;">
                    <h4>مسح</h4>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for exam in makeup_exams %}

            <tr>

                <td>
                    
                <div style="color: lightblue;">{{exam.exam.name}}</div>

                </td>
                <td style="text-align: center;">
                    <span>
                        <!-- delete_file -->
                        <form method="post" action="{% url 'delete_makeup_exam' exam.id  student_user.id %}"
                            style="margin: 0 0 0 0;">
                            {% csrf_token %}
                            <input type="submit" value="&nbsp; مسح &nbsp;" class="btn btn-danger"
                                style="background-color: red;">
                        </form>
                    </span>
                </td>

            </tr>
            {% endfor %}
        </tbody>
        <tfoot>

    </table>
{% endif %}

{% comment %} MAKEUP HOMEWORKS {% endcomment %}
<form method="post" action="{% url 'admin_add_makeup_homework' student_user.id %}">
{% csrf_token %}

    <select name="homework_id" dir="rtl" onchange="this.form.submit()">
        <option value="">اختار واجب تعويضي</option>

        {% for homework in homeworks %}

        <option value="{{homework.id}}" {% if homework_id == homework.name %} selected{% endif %}>
            {{homework.name}}
        </option>
        {% endfor %}
    </select>
</form>
{% if makeup_homeworks %}
<h3>الواجبات التعويضية</h3>
<div class="table-responsive table-wrapper">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    <h4>الاسم</h4>
                </th>
                <th scope="col" style="text-align: center;">
                    <h4>مسح</h4>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for homework in makeup_homeworks %}

            <tr>

                <td>
                    
                <div style="color: lightblue;">{{homework.homework.name}}</div>

                </td>
                <td style="text-align: center;">
                    <span>
                        <!-- delete_file -->
                        <form method="post" action="{% url 'admin_delete_makeup_homework' homework.id  student_user.id %}"
                            style="margin: 0 0 0 0;">
                            {% csrf_token %}
                            <input type="submit" value="&nbsp; مسح &nbsp;" class="btn btn-danger"
                                style="background-color: red;">
                        </form>
                    </span>
                </td>

            </tr>
            {% endfor %}
        </tbody>
        <tfoot>

    </table>
{% endif %}
<a href="{%url 'admin_student_update_data' object.id %}" class="button primary" style="background-color:#4CAF50; font-size: 30px;height: 4rem; line-height: 4rem; width:100%">  البيانات الشخصية للطالب     </a>


<br/>
<br/>
<form method="post" action="{% url 'delete_account' object.id %}">
                            {% csrf_token %}
                            <input type="submit" value="&nbsp;  مسح الطالب&nbsp;" class="btn btn-danger"
                                style="background-color: #ff0000; font-size: 30px;height: 4rem; line-height: 4rem; width:100%">
                        </form>




<script>
function myFunction() {
    console.log('test')
  var password = prompt("Please enter your password");
  if (password === "Ahmed") {
      document.getElementById("myBtn").style["pointer-events"] = "auto";

}}
</script>
    {% endblock %}

