{% extends 'base.html' %}
{% block head %}
<h2>{{object.homework.name}}</h2>
{% endblock %}
{% block content %}
{% if object.homework.homework_text %}
<p style="text-align: right; color: lightblue;">
    {{object.homework.homework_text}}
</p>
{% endif %}
{% if object.homework.homework_file %}
<h3>ملف الواجب</h3>
{{image_extensions}}
{% if object.homework.homework_file.extension in image_extensions %}
sddddddddddddddd
<span class="image fit">
    <a href="{{ object.homework.homework_file.url }}">
        <img src="{{ object.homework.homework_file.url}}">
    </a>
</span>
{% else %}

<a href="{{ qobject.homework.homework_file.url }}" style="color: lightblue;">
    {{object.homework.homework_file.name}}

</a>
<br><br><br>
{% endif %}
{% endif %}
<!-- uploaded files -->
{% if object.student_homework_file %}
<h3>الملفات المُسلمة</h3>
<br>
<div class="table-responsive table-wrapper">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    <h4>الاسم</h4>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for file in object.student_homework_file.all %}
            <tr>

                <td>
                    <a href="{{file.student_homework_file.url}}"
                        style="color: lightblue;">{{file.snippet_file_name}}</a>

                </td>

            </tr>
            {% endfor %}
        </tbody>
        <tfoot>

    </table>
    {% else %}
    لم يتم حل الواجب
    {% endif %}

   {% if object.notes or object.notes_file %}
    الملاحظات:
   {% endif %}

    {% if object.notes %}
    <br/>
    {{object.notes}}
    {% endif %}

{% if object.notes_file %}
    <br/>
    <a href="{{object.notes_file.url}}"
                        style="color: lightblue;">{{object.notes_file}}</a>
    {% endif %}

    {% endblock content %}