{% extends 'base.html' %}
{% block head %}
<h2>الامتحانات</h2>
{% endblock %}
{% block content2 %}
<!-- <a href="#">{{class}}</a> <br> -->
<form method="get" action="{% url 'admin_exam_list' %}">
 <input style = "width: auto;"  id="al-search" type="text"  
           name="exam" value="{{ request.GET.exam }}"
           class="form-control" />
    <input type="submit"
           value="بحث" class="button primary" />
    <select name="class_filter" dir="rtl" onchange="this.form.submit()">
        <option value="">اختار مجموعة</option>

        {% for class in classes %}

        <option value="{{class.name}}" {% if class_filter == class.name %} selected{% endif %}>
            {{class.name}}
        </option>
        {% endfor %}
    </select>
    <select name="is_checked_filter" onchange="this.form.submit()">
        <option value="">التصحيح؟ </option>
        <option value="True" {% if is_checked_filter == "True" %} selected{% endif %}>تم تصحيحه
        </option>
        <option value="False" {% if is_checked_filter == "False" %} selected{% endif %}>لم يتم
            تصحيحه
        </option>
    </select>
</form>

<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th>اسم الطالب</th>
                <th>ايميل الطالب</th>
                <th>الامتحان</th>
                <th>الاسبوع</th>
                <th>التصحيح</th>
            </tr>
        </thead>
        <tbody>
            {% for student_exam in object_list %}

            <tr><td>
                    <a style="color: lightblue;"
                        href="{% url 'admin_first_choice_question' student_exam.id %}">
                        {{ student_exam.user.first_name }}</a>
                </td>
                <td>
                    <a style="color: lightblue;"
                        href="{% url 'admin_first_choice_question' student_exam.id %}">
                        {{ student_exam.user }}</a>
                </td>
                <td>{{ student_exam.exam.name }}</td>
                <td>{{ student_exam.user.student_class }}</td>
                <td>
                    {% if student_exam.is_graded %}
                    &nbsp&nbsp<div class="check"></div>
                    {% else %}
                    &#10060;
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
    </table>




      <ul>
    <div c lass="prev_next">
    <div class="pages">
    {% if page_obj.has_previous %}
      <a class="prev btn btn-info" href="?page={{page_obj.previous_page_number}}">لسابق</a>
    {% endif %}
      {% for pg in page_obj.paginator.page_range %}
        {% if page_obj.number == pg %}
          <a href="?page={{pg}}" class="btn btn-default">{{pg}}</a>
        {% else %}
          <a href="?page={{pg}}" class="btn">{{pg}}</a>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
      <a class="next btn btn-info" href="?page={{page_obj.next_page_number}}">التالي</a>
    {% endif %}
      </ul>
    </div>
    </div>
    <span class="clear_both"></span>
    {% endblock content2 %}
