{% extends 'base.html' %}
{% block head %}
<h2>Exams</h2>
{% endblock %}{% block content %}

<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th>exam</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for exam in exams %}

            <tr>

                <td>
                        
                    <a href="{% url 'question' exam.exam.id 1 %}" style="color: lightblue;"> {{ exam.exam }}</a>
                </td>
                <td>
                    &nbsp&nbsp
                    {% if exam.answered == "answered" %}
                    <div class="check"></div>
                    {% else %}
                    &#10060;
                    {% endif %}
                </td>

            </tr>
            {% endfor %}
        </tbody>
        <tfoot>

    </table>

    {% if exam_time_expired %}
    <script>
        swal({
            type: 'error',
            title: 'انتهى وقت الامتحان',
            text: 'برجاء انتظار النتيجة ونموذج الاجابة الاسبوع القادم',
            // footer: '<a href>Why do I have this issue?</a>'
        })
    </script>
    {% endif %}
    {% endblock content %}