{% extends 'base.html' %}
{% block head %}
<h2>المحاضرات</h2>
{% endblock %}{% block content %}
<a href="{% url 'create_lecture' %}" class="button primary" style="background-color:#4CAF50">  إضافة محاضرة  </a>

<br/><br/>

<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th>المحاضرة</th>
            </tr>
        </thead>
        <tbody>
            {% for lecture in object_list %}

            <tr>

                <td>

                    <a style="color: lightblue;" href="{% url 'update_lecture' lecture.id %}">
                        {{ lecture.name }}</a>
                </td>

            </tr>
            {% endfor %}
        </tbody>
        <tfoot>

    </table>

    {% endblock content %}