{% extends 'base.html' %}
{% block head %}
<h2>المحاضرات</h2>
{% endblock %}{% block content %}

<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th>المحاضرة</th>
                {% comment %} <th>المشاهدة؟</th> {% endcomment %}
            </tr>
        </thead>
        <tbody>
            {% for lecture in object_list %}

            <tr>

                <td>

                    <a style="color: lightblue;" href="{% url 'lecture' lecture.id %}">
                        {{ lecture.name }}</a>
                </td>
                {% comment %} <td>
                    &#10060;
                    <!-- {% if homework.answered == "answered" %}
                    &nbsp&nbsp<div class="check"></div>
                    {% else %}
                    &#10060;
                    {% endif %} -->
                </td> {% endcomment %}

            </tr>
            {% endfor %}
        </tbody>
        <tfoot>

    </table>

    {% endblock content %}