{% extends 'base.html' %}
{% block head %}
<h2>Lectures</h2>
{% endblock %}{% block content %}

<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th>المحاضرة</th>
                <th>المشاهدة؟</th>
            </tr>
        </thead>
        <tbody>
            {% for lecture in object_list %}

            <tr>

                <td>

                    <a style="color: lightblue;" href="{% url 'lecture' lecture.id %}">
                        {{ lecture.name }}</a>
                </td>
                <td>
                    &#10060;
                    <!-- {% if homework.answered == "answered" %}
                    &nbsp&nbsp<div class="check"></div>
                    {% else %}
                    &#10060;
                    {% endif %} -->
                </td>

            </tr>
            {% endfor %}
        </tbody>
        <tfoot>

    </table>

    {% if exam_time_expired %}
    <script>
        swal({
            type: 'error',
            title: 'انتهى وقت الامتحان',
            text: 'برجاء انتظار النتيجة ونموذج الاجابة الاسبوع القادم',
            // footer: '<a href>Why do I have this issue?</a>'
        })
    </script>
    {% endif %}
    {% endblock content %}