{% extends 'base.html' %}
{% block head %}
<h2>{{homework.name}}</h2>
{% endblock %}
{% block content %}
{% if homework.homework_text %}
<p style="text-align: right; color: lightblue;">
    {{homework.homework_text}}
</p>
{% endif %}
{% if homework_questions %}
{% if homework_questions.extension in image_extensions %}
<span class="image fit">
    <a href="{{ homework_questions.url }}">
        <img src="{{ homework_questions.url}}">
    </a>
</span>
{% else %}
<h3>ملفات الواجب</h3>

<a href="{{ homework_questions.url }}" style="color: lightblue;">
    {{homework_questions.name}}

</a>
<br><br><br>
{% endif %}
{% endif %}
<!-- uploaded files -->

{% if uploaded_files %}
<h3>الملفات المُسلمة</h3>
<br>
<div class="table-responsive table-wrapper">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    <h4>الاسم</h4>
                </th>
                <th scope="col" style="text-align: center;">
                    <h4>مسح</h4>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for file in uploaded_files %}
            <tr>

                <td>
                    <a href="{{file.student_homework_file.url}}"
                        style="color: lightblue;">{{file.snippet_file_name}}</a>

                </td>
                <td style="text-align: center;">
                    <span>
                        <!-- delete_file -->
                        <form method="post" action="{% url 'delete_file' homework.id file.id %}"
                            style="margin: 0 0 0 0;">
                            {% csrf_token %}
                            <input type="submit" value="&nbsp; مسح &nbsp;" class="btn btn-danger"
                                style="background-color: red;">
                        </form>
                    </span>
                </td>

            </tr>
            {% endfor %}
        </tbody>
        <tfoot>

    </table>
    {% endif %}

    <h1>{{error_message}}<h1>

            {% comment %} <form method="post" enctype="multipart/form-data" class="md-form">
                {% csrf_token %}

                {{form}}
                <br><br>
                <button type="submit" class="button primary"
                    style="background-color: #4CAF50; font-size: 30px;height: 4rem; line-height: 4rem; width:100%">تسليم
                    الواجب</button>
            </form> {% endcomment %}
            <p><label for="id_homework_images">رفع ملفات الواجب:</label> <input type="file"
                    name="homework_images" accept="image/*" id="id_homework_images" multiple></p>
            <input type="submit" style="width:100%; font-size: 20px;" value="تسليم الواجب"
                id="homework-form" onclick="checkInput();this.disabled = true;">

            <div class="loader" id="loader-upload" style="visibility: hidden;"
                ng-hide="data.length > 0">
            </div>



            <script>

                function checkInput() {
                    var files = document.getElementById("id_homework_images").files;
                    var file = files[0];
                    if (!file) {
                        swal({
                            type: 'error',
                            text: 'من فضلك قم برفع صورة على الاقل'
                        }
                        )
                        document.getElementById("homework-form").disabled = false;
                    }
                    else {
                        document.getElementById("loader-upload").style.visibility = "visible";
                        for (i = 0; i < files.length; i++) {
                            var is_last;
                            if (i == files.length - 1) {
                                is_last = "YES";
                            }
                            getSignedRequest(files[i], is_last);
                        }

                    }
                };

                function getSignedRequest(file, is_last) {
                    var xhr = new XMLHttpRequest();
                    var homework_id = "{{homework.id}}"
                    xhr.open("GET", "{% url 'generate_s3_signature_homework'%}?file_name=" + file.name + "&file_type=" + file.type + "&homework_id=" + homework_id);
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState === 4) {
                            if (xhr.status === 200) {
                                var response = JSON.parse(xhr.responseText);
                                uploadFile(file, response.data, response.url, is_last);
                            }
                            else {
                                alert("Could not get signed URL.");
                            }
                        }
                    };
                    xhr.send();
                }

                function uploadFile(file, s3Data, url, is_last) {
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", s3Data.url);
                    var postData = new FormData();
                    for (key in s3Data.fields) {
                        postData.append(key, s3Data.fields[key]);
                    }
                    postData.append('file', file);
                    var homework_id = "{{homework.id}}"
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState === 4) {
                            if (xhr.status === 200 || xhr.status === 204) {
                                var new_request = new XMLHttpRequest();
                                new_request.open("GET", "{% url 'homework_image_success_upload'%}?image_name=" + s3Data.fields["key"] + "&homework_id=" + homework_id);
                                new_request.send();
                                if (is_last == "YES") {
                                    document.getElementById("loader-upload").style.visibility = "hidden";
                                    swal({
                                        type: 'success',
                                        text: 'تم تسليم الواجب بنجاح'
                                    }
                                    ).then(function () {
                                        window.location = "{% url 'homework_list' %}";
                                    });
                                }

                                // document.getElementById("preview").src = url;
                                // document.getElementById("avatar-url").value = url;
                            }
                            else {
                                alert("Could not upload file.");
                            }
                        }
                    };
                    xhr.send(postData);
                    //window.location.replace("{% url 'student_questions' %}");
                }
            </script>

            {% endblock content %}