{% extends 'base.html' %}
{% block head %}
<h2>الواجبات</h2>
{% endblock %}
{% block content %}
<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th>الواجب</th>
                <th>تم التسليم؟</th>
            </tr>
        </thead>
        <tbody>
            {% for homework in homeworks %}

            <tr>
                <td>
                    <a style="color: lightblue;" href="{% url 'homework' homework.homework.id %}">
                        {{ homework.homework }}</a>
                </td>
                <td>

                    {% if homework.answered == "answered" %}
                    &nbsp&nbsp<div class="check"></div>
                    {% else %}
                    &#10060;
                    {% endif %}
                </td>

            </tr>
            {% endfor %}
        </tbody>
        <tfoot>

    </table>

 {% if homework_is_checked %}
    <script>
        swal({
            type: 'info',
            title: 'تم تصحيح الواجب ولا يمكن تغيره',
            text: 'برجاء التحقق من الواجب والملاحظات من صفحتك الشخصية',
            // footer: '<a href>Why do I have this issue?</a>'
        })
    </script>
    {% endif %}
    {% endblock content %}