{% extends 'base.html' %}
{% block head %}
<h2>Homeworks</h2>
{% endblock %}{% block content %}

<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th>exam</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for homework in homeworks %}

            <tr>

                <td>

                    <a href="{% url 'homework' homework.homework.id %}"> {{ homework.homework }}</a>
                </td>
                <td>
                    <span style="color:yellow;">{{ homework.answered }}</span>
                </td>

            </tr>
            {% endfor %}
        </tbody>
        <tfoot>

    </table>

    {% if exam_time_expired %}
    <script>
        swal({
            type: 'error',
            title: 'انتهى وقت الامتحان',
            text: 'برجاء انتظار النتيجة ونموذج الاجابة الاسبوع القادم',
            // footer: '<a href>Why do I have this issue?</a>'
        })
    </script>
    {% endif %}
    {% endblock content %}