{% load static %}
<!DOCTYPE HTML>
<html dir="rtl">

<head>
	<title>Mr.sayed website</title>
	<meta charset="utf-8" />
	<script src="https://unpkg.com/sweetalert2@7.8.2/dist/sweetalert2.all.js"></script>

	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
		integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
		crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

	<link rel="stylesheet" href="{% static 'css/main.css' %}" />
	<noscript>
		<link rel="stylesheet" href="{% static 'css/noscript.css' %}" /></noscript>
</head>

<body class="is-preload">

	<div id="page-wrapper">

		<!-- Header -->
		<header id="header" dir="rtl" lang="ar">
			<h1 id="logo"><a href="{% url 'home' %}">الاستاذ سيد عبدالحميد </a></h1>
			<nav id="nav">
				<ul>
					<li><a href="{% url 'home' %}">الرئيسية</a></li>
					{% if user.is_admin %}
					<li><a href="{% url 'class_list' %}">الحصص</a></li>
					<li><a href="{% url 'week_list' %}">الاسابيع</a></li>
					<li class="opener"
						style="user-select: none; cursor: pointer; white-space: nowrap; opacity: 1;">
						<a href="#">التصحيح</a>
						<ul class="" style="user-select: none; display: none; position: absolute;">
							<li style="white-space: nowrap;"><a
									href="{% url 'admin_homework_list' %}"
									style="display: block;">تصحيح الواجب</a></li>
							<li style="white-space: nowrap;"><a href="{% url 'admin_exam_list' %}"
									style="display: block;">تصحيح الامتحان</a></li>
						</ul>
					</li>
					<li class="opener"
						style="user-select: none; cursor: pointer; white-space: nowrap; opacity: 1;">
						<a href="#">اضافة</a>
						<ul class="" style="user-select: none; display: none; position: absolute;">
							<li style="white-space: nowrap;"><a
									href="{% url 'admin_homework_list' %}"
									style="display: block;">اضافة محاضرة</a></li>
							<li style="white-space: nowrap;"><a href="{% url 'admin_add_exam_list' %}"
									style="display: block;">اضافة امتحان</a></li>
							<li style="white-space: nowrap;"><a href="{% url 'admin_exam_list' %}"
									style="display: block;">اضافة واجب</a></li>
							<li style="white-space: nowrap;"><a href="{% url 'admin_exam_list' %}"
									style="display: block;">اضافة مجموعة</a></li>
							<li style="white-space: nowrap;"><a href="{% url 'admin_exam_list' %}"
									style="display: block;">اضافة اسبوع</a></li>
						</ul>
					</li>
					<li><a href="{% url 'admin_student_list' %}">الطلاب</a></li>
					<li><a href="{% url 'logout' %}">الخروج</a></li>

	

					{% elif user.is_student %}
					<li><a href="{% url 'profile' %}">{{ user.first_name }}</a></li>
					<li><a href="{% url 'exam_list' %}">الامتحانات</a></li>
					<li><a href="{% url 'homework_list' %}">الواجبات</a></li>
					<li><a href="{% url 'student_questions' %}">اسأل استاذ سيد</a></li>
					<li><a href="{% url 'lectures_list' %}">المحاضرات</a></li>
					<li><a href="{% url 'logout' %}">الخروج</a></li>
					{% else %}
					<li><a href="{% url 'login' %}" class="button primary">تسجيل دخول/انشاء حساب</a></li>
					{% endif %}
				</ul>
			</nav>
		</header>

			<!-- Main -->
				<div id="main" class="wrapper style">
					<div class="container">
						<header class="major">
							<!-- <h2>Elements</h2>
							<p>Ipsum dolor feugiat aliquam tempus sed magna lorem consequat accumsan</p> -->
					{% block head %}
					{% endblock %}
				</header>

				<!-- section -->
				<section dir="rtl" lang="ar">
					{% block content2 %}
					{% endblock %}
				</section>
				<section>
					{% block content %}
					{% endblock %}
				</section>

			</div>
		</div>

		   
		
		<!-- Footer -->
		<footer id="footer">
			<ul class="icons">
				<!--	<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li> -->
				<li><a href="#" class="icon brands alt fa-facebook-f"><span
							class="label">Facebook</span></a></li>
				<!-- <li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>-->
				<!--  <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>-->
				<!--  <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>-->
				<!--  <li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>-->
			</ul>
			<ul class="copyright">
				<li>All rights reserved.</li>
				<li>Mr sayed</li>
			</ul>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
	<script src="{% static 'js/jquery.dropotron.min.js' %}"></script>
	<script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
	<script src="{% static 'js/browser.min.js' %}"></script>
	<script src="{% static 'js/breakpoints.min.js' %}"></script>
	<script src="{% static 'js/util.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>


</body>

</html>