{% extends 'base.html' %}
{% block head %}
<h2>المجموعات</h2>
{% endblock %}
{% block content %}
<div class="table-wrapper">
    <table DIR="RTL">
        <thead>
            <tr>
                <th>المجموعة</th>
                <!-- <th>Status</th> -->
            </tr>
        </thead>
        <tbody>
            {% for class in object_list %}

            <tr>
                <td>
                    <a style="color: lightblue;" href="{% url 'update_class' class.id %}">
                        {{ class.name }}</a>
                </td>
                <!-- <td>
                    dasdas
                </td> -->

            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'create_class' %}">
        <button class="button primary"
            style="background-color:#4CAF50; font-size: 30px;height: 4rem; line-height: 4rem; width:100%">إنشاء
            مجموعة جديدة</button>
    </a>
    {% endblock content %}